/*
	Grad Project Style Sheet
	Jacob Mintz, SJSU Summer 2020
	
	Scheme Color: https://www.schemecolor.com/air-element.php
	#DBF4E0, #CAE3F5, #E7F1F5, #FFFBFB, #FBF3EF, #F4E7EC
*/

.grid {
	display: grid;
	justify-content: center;
	grid-gap: .5rem;
	grid-template-columns: repeat(6,minmax(150px,200px));
	grid-template-areas:
		"Header1 Header1 Header1 Header1 Header1 Header1"
		"gStressStrain1 gStressStrain1 gStressStrain1 gStressStrain2 gStressStrain2 gStressStrain2"
		"Header2 Header2 Header2 Header2 Header2 Header2"
		"gCalcs gCalcs gCalcs gStressEqs gStressEqs gStressEqs"
		"gCubeExp gCubeExp gCubeExp gEquil gEquil gEquil"
		"Header3 Header3 Header3 Header3 Header3 Header3"
		"gVisExp1 gVisExp1 gVisExp1 gVisExp2 gVisExp2 gVisExp2"
		"Header4 Header4 Header4 Header4 Header4 Header4"
		"gCanti gCanti gCanti gHowTo gHowTo gHowTo"
		"gMaterial gMaterial gBeamDims gBeamDims gBeam gBeam"
		"gMaterial gMaterial gCubePic gCubePic gStressResults gStressResults"
		"gFoot gFoot gFoot gFoot gFoot gFoot"; /*gEqs*/
}

.grid > div {
	padding: 1.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

body {
	margin: 1rem;
	background: #FFFBFB; 
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	margin-top: 0px;
}

h1 {font-size: calc(25px + 2vw);}
h2 {font-size: calc(10px + 1.5vw);}
h3 {font-size: calc(10px + 0.7vw);}
p {font-size: 14px;}

table, th, td {
	/*border: 1px solid #ccc;*/ 
	margin-left: auto;
	margin-right: auto;
	padding: 5px 15px 5px 15px;
}

/*table {border:solid;}position: absolute;*/

.EqualCols3 {
	width: 33%;
}

.PicLabel {
	color: #989898;
	font-size: calc(10px + 0.7vw);
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	margin: 20px 0px 20px 0px;
}

#CubeBase {
	max-width: 100%;
	height: auto;
}

.Overlay {
	position: relative;
	top: 0;
	background: none;
	max-width: 100%;
	height: auto;
	box-shadow: none;
}

.imgwrap {
	position: absolute;
	top: 0;
	max-width: 100%;
}

tr:hover {background-color: #FBF3EF}
td.thick {font-weight: bold; text-align:center}

img {
	max-width: 100%;
	height: auto;
	background: #FFFBFB;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#CrossSectionPic {
	max-height: 100px;
	background: none;
	border: none;
	box-shadow: none;
}
/*top: 0px;
	left: 0px;
img:hover {
	transform: scale(2);
}*/

.InnerBox {
	background: #FBF3EF;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	text-align: center;
}
.listitem {
	padding: 10px;
}

.HeaderBox {
	grid-area: Header1;
	background: #CAE3F5;
	padding-bottom: 0px;
	border-style: solid;
	border-width: 3px;
	cursor: pointer;
}

.HeaderBox:hover {
	background: #84BDE6;
}

.greenish {background: #DBF4E0;}
.blueish {background: #CAE3F5;}
.lightblueish {background: #E7F1F5;}
.reddish {background: #F4E7EC;}
.offwhite {background: #FFFBFB;}
.tanish {background: #FBF3EF;}

.IntroSection {background: #E7F1F5;}
.CalcSection {background: #E7F1F5;}
.VisSection {background: #E7F1F5;}
.ToolSection {background: #DBF4E0;}

/* Setting grid areas for the various sections */
#HeaderTitle {}
#StressStrainExp {grid-area: gStressStrain1;}
#StressStrainExp2 {grid-area: gStressStrain2;}

#HeaderCalc {grid-area: Header2;}
#Calculations {grid-area: gCalcs;}
#StressEqsVis {grid-area: gStressEqs;}
#Cube {grid-area: gCubeExp;}
#Equilibrium {grid-area: gEquil;}

#HeaderVis {grid-area: Header3;}
#VisExp1 {grid-area: gVisExp1;}
#VisExp2 {grid-area: gVisExp2;}

#HeaderTool {grid-area: Header4;}
#Cantilever{grid-area:gCanti;}
#UsingThisTool{grid-area:gHowTo;}
#MaterialandGeometry{grid-area: gMaterial;}
#BeamDims{grid-area: gBeamDims;}
#BeamTool{grid-area: gBeam;}
#CubeTool{grid-area: gCubePic;}
#StressResults{grid-area: gStressResults;}

#EquationsShow{grid-area: gEqs;}
#Footnotes {grid-area: gFoot; background: #ccc;}

input:invalid {
  border: 2px solid red;
  background: #F4E7EC;
}

input {
	border-radius: 4px;
}

#ScrolltoTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  background-color: #ccc;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  justify-content: center;
}

#ScrolltoTop:hover {
	background-color: #888;
}

.ref {
    position: relative;
    vertical-align: baseline;
   }

.refnum {
    position: relative;
    left: 2px;
    bottom: 1ex;
    color: #005994;
    font-size: .7em;
    font-weight: bold;
    cursor: pointer;
}

.refbody {
    font-size: .8em;
    line-height: 1.1;
    display: block;
    min-width: 20em;
    position: absolute;
    left: 25px;
    border: 1px solid;
    padding: 5px;
    background-color: #fff;
    word-wrap: break-word;
    z-index: 9999;
    overflow: auto;
}

.slider {
  -webkit-appearance: none;
  width: 70%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4BBE62;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #4BBE62;
  cursor: pointer;
}