/*
	Grad Project Style Sheet
	Jacob Mintz, SJSU Summer 2020
	
	Scheme Color: https://www.schemecolor.com/air-element.php
	#DBF4E0, #CAE3F5, #E7F1F5, #FFFBFB, #FBF3EF, #F4E7EC

*/	

.grid {
	display: grid;
	justify-content: center;
	grid-gap: .5rem;
	grid-template-columns: repeat(2,minmax(400px,550px));
	grid-template-areas:
		"Header Header"
		"gStressStrain1 gStressStrain2"
		"gCalculations gCubeExp"
		"Header2 Header2"
		"gVisExp gVisExp"
		"gMaterial gForces"
		"gEqs gStressResults"
		"gBeam gCubePic";
}

.grid > div {
	padding: 1.5rem;
	margin: 0.5rem;
	border-radius: 1rem;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

body {
	margin: 1rem;
	background: #FFFBFB; 
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	margin-top: 0px;
}

h1 {font-size: calc(25px + 2.5vw);}
h2 {font-size: calc(10px + 1.5vw);}
h3 {font-size: calc(10px + 0.7vw);}
p {font-size: 14px;}

table, th, td {
	border: 1px solid #ccc; 
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

img {
	max-width: 100%;
	height: auto;
	background: #FFFBFB;
	border: 2px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
img:hover {
	transform: scale(2);
}*/

.InnerBox {
	background: #FBF3EF;
	font-size: 16px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
}

#HeaderBox {
	grid-area: Header;
	background: #CAE3F5;
	padding-bottom: 0px;
	
}
#HeaderBox2 {
	grid-area: Header2;
	background: #CAE3F5;
}

 .takemetolinks {
	display: inline-block;
	padding: .5em;
 }

#StressStrainExp {
	/*
	max-height: 800px;
	min-width: 400px;
	grid-row: 1 / 4;
	justify-self: center;
	*/
	background: #E7F1F5;
	grid-area: gStressStrain1;
		
}
#StressStrainExp2 {
	background: #E7F1F5;
	grid-area: gStressStrain2;
}

#Calculations {
	background: #F4E7EC;
	grid-area: gCalculations;
}

#Cube {
	background: #F4E7EC;
	grid-area: gCubeExp;
}

#VisualizationExp {
	background: #E7F1F5;
	grid-area: gVisExp;
}

#MaterialandGeometry{
	grid-area: gMaterial;
	background: #DBF4E0;
}

#ForcesSelect{
	grid-area: gForces;
	background: #DBF4E0;
}
#EquationsShow{
	grid-area: gEqs;
	background: #FBF3EF;
}
#BeamTool{
	grid-area: gBeam;
}
#CubeTool{
	grid-area: gCubePic;
}
#StressResults{
	grid-area: gStressResults;
}

.rota {
	transform: rotate(-90deg);
}
